name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build image
      run: |
        IMAGE_NAME=ghcr.io/adithyasai28/zoopuserfrontend/app:latest
        docker build -t $IMAGE_NAME .
        echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

    - name: Push image
      run: docker push $IMAGE_NAME
